<div style="font-family:'Arial Unicode MS';font-size:15px;line-height:24px;margin-top:1px;margin-left:65px;color:white;">
    <table style="border-spacing:5px;">
        <tr>
            <td>Commander</td>
            <td>@Model.Commander</td>
        </tr>
        <tr>
            <td>Ship</td>
            <td>@Model.Ship</td>
        </tr>
        <tr>
            <td>Credits</td>
            <td>@Model.Credits</td>
        </tr>
    </table>
</div>
