<div class="main">
    <table>
        <tr>
            <td class="caption">Commander</td>
            <td class="data">@Model.Commander</td>
        </tr>
        @if (!string.IsNullOrEmpty(@Model.Ship))
        {
            <tr>
                <td class="caption">Ship</td>
                <td class="data">@Model.Ship</td>
            </tr>
        }
        <tr>
            <td class="caption">Credits</td>
            <td class="data">@Model.Credits</td>
        </tr>
    </table>
</div>
