@{
    Layout = "layout.cshtml";
}

<div class="main">
    <table>
        <tbody>
            @if (!string.IsNullOrEmpty(Model.ShipName))
            {
                <tr>
                    <td class="caption">Ship Name</td>
                    <td class="data">@Model.ShipName</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.ShipType))
            {
                <tr>
                    <td class="caption">Ship Type</td>
                    <td class="data">@Model.ShipType</td>
                </tr>
            }
            <tr>
                <td class="caption">Fuel</td>
                <td class="data">@Model.FuelPercent %</td>
            </tr>
            @if (Model.JumpRange > 0)
            {
                <tr>
                    <td class="caption">Jump Range</td>
                    <td class="data">@Model.JumpRange.ToString("N1") LY</td>
                </tr>
            }
        </tbody>
    </table>
</div>