@using System
@using System.Collections.Generic
@using Elite
@using System.Linq

@{
    Layout = "layout.cshtml";
}

<div class="main">


    @if (Model.CurrentTab == LcdTab.Commander)
    {
        <div class="cardcaption">Commander</div>
    }
    else if (Model.CurrentTab == LcdTab.Target)
    {
        <div class="cardcaption">Target</div>
    }
    else if (Model.CurrentTab == LcdTab.Missions)
    {
        <div class="cardcaption">Missions</div>
    }
    else if (Model.CurrentTab == LcdTab.Chat)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; Chat : Star System &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; Chat : Local &#x25b6;</div>
        }
        else if (Model.CurrentCard == 2)
        {
            <div class="cardcaption">&#x25c0; Chat : Friend &#x25b6;</div>
        }
        else if (Model.CurrentCard == 3)
        {
            <div class="cardcaption">&#x25c0; Chat : Player &#x25b6;</div>
        }
        else if (Model.CurrentCard == 4)
        {
            <div class="cardcaption">&#x25c0; Chat : Wing &#x25b6;</div>
        }
        else if (Model.CurrentCard == 5)
        {
            <div class="cardcaption">&#x25c0; Chat : Squadron &#x25b6;</div>
        }
        else if (Model.CurrentCard == 6)
        {
            <div class="cardcaption">&#x25c0; Chat : Voice &#x25b6;</div>
        }
    }
    else if (Model.CurrentTab == LcdTab.HWInfo)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; HWInfo &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; HWInfo Charts &#x25b6;</div>
        }

    }
    else if (Model.CurrentTab == LcdTab.Galnet)
    {
        <div class="cardcaption">@Html.Raw(Model.GalnetCaption)</div>
    }
    @*else if (Model.CurrentTab == LcdTab.Events)
        {
            <div class="cardcaption">Events</div>
        }*@
    else if (Model.CurrentTab == LcdTab.Ship)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; Current Ship &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; Stored Ships &#x25b6;</div>
        }
        else if (Model.CurrentCard == 2)
        {
            <div class="cardcaption">&#x25c0; Stored Modules &#x25b6;</div>
        }

    }
    else if (Model.CurrentTab == LcdTab.ShipLocker)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; Ship Locker Items &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; Ship Locker Components &#x25b6;</div>
        }
        else if (Model.CurrentCard == 2)
        {
            <div class="cardcaption">&#x25c0; Ship Locker Consumables &#x25b6;</div>
        }
        else if (Model.CurrentCard == 3)
        {
            <div class="cardcaption">&#x25c0; Ship Locker Data &#x25b6;</div>
        }
    }
    else if (Model.CurrentTab == LcdTab.BackPack)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; Backpack Items &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; Backpack Components &#x25b6;</div>
        }
        else if (Model.CurrentCard == 2)
        {
            <div class="cardcaption">&#x25c0; Backpack Consumables &#x25b6;</div>
        }
        else if (Model.CurrentCard == 3)
        {
            <div class="cardcaption">&#x25c0; Backpack Data &#x25b6;</div>
        }
    }
    else if (Model.CurrentTab == LcdTab.Materials)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; Raw Materials &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; Manufactured Materials &#x25b6;</div>
        }
        else if (Model.CurrentCard == 2)
        {
            <div class="cardcaption">&#x25c0; Encoded Materials &#x25b6;</div>
        }
    }
    else if (Model.CurrentTab == LcdTab.Cargo)
    {
        <div class="cardcaption">Cargo</div>
    }
    else if (Model.CurrentTab == LcdTab.Engineer)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; Blueprint Shopping List &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; Materials Shopping List &#x25b6;</div>
        }
        else if (Model.CurrentCard == 2)
        {
            <div class="cardcaption">&#x25c0; Missing Materials Information &#x25b6;</div>
        }
    }
    else if (Model.CurrentTab == LcdTab.Navigation)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; Navigation &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; Route &#x25b6;</div>
        }
        else if (Model.CurrentCard == 2)
        {
            <div class="cardcaption">&#x25c0; System Map &#x25b6;</div>
        }
        else if (Model.CurrentCard == 3)
        {
            <div class="cardcaption">&#x25c0; Odyssey Settlements &#x25b6;</div>
        }
    }
    else if (Model.CurrentTab == LcdTab.POI)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; Points of Interest &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; Compromised Nav. Beacons &#x25b6;</div>
        }
        else if (Model.CurrentCard == 2)
        {
            <div class="cardcaption">&#x25c0; Interstellar Factors &#x25b6;</div>
        }
        else if (Model.CurrentCard == 3)
        {
            <div class="cardcaption">&#x25c0; Raw Material Traders &#x25b6;</div>
        }
        else if (Model.CurrentCard == 4)
        {
            <div class="cardcaption">&#x25c0; Manufactured Material Traders &#x25b6;</div>
        }
        else if (Model.CurrentCard == 5)
        {
            <div class="cardcaption">&#x25c0; Encoded Data Traders &#x25b6;</div>
        }
        else if (Model.CurrentCard == 6)
        {
            <div class="cardcaption">&#x25c0; Human Technology Brokers &#x25b6;</div>
        }
        else if (Model.CurrentCard == 7)
        {
            <div class="cardcaption">&#x25c0; Guardian Technology Brokers &#x25b6;</div>
        }
    }
    else if (Model.CurrentTab == LcdTab.Galaxy)
    {

    }
    else if (Model.CurrentTab == LcdTab.Engineers)
    {
        if (Model.EngineersList == null || Model.CurrentCard >= Model.EngineersList.Count)
        {
            <div class="cardcaption">&#x25c0; ??? &#x25b6;</div>
        }
        else
        {
            <div class="cardcaption">&#x25c0; @(Model.EngineersList[Model.CurrentCard].Faction) &#x25b6;</div>
        }
    }
    else if (Model.CurrentTab == LcdTab.Powers)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; Aisling Duval &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; Archon Delaine &#x25b6;</div>
        }
        else if (Model.CurrentCard == 2)
        {
            <div class="cardcaption">&#x25c0; Arissa Lavigny-Duval &#x25b6;</div>
        }
        else if (Model.CurrentCard == 3)
        {
            <div class="cardcaption">&#x25c0; Denton Patreus &#x25b6;</div>
        }
        else if (Model.CurrentCard == 4)
        {
            <div class="cardcaption">&#x25c0; Edmund Mahon &#x25b6;</div>
        }
        else if (Model.CurrentCard == 5)
        {
            <div class="cardcaption">&#x25c0; Felicia Winters &#x25b6;</div>
        }
        else if (Model.CurrentCard == 6)
        {
            <div class="cardcaption">&#x25c0; Li Yong-Rui &#x25b6;</div>
        }
        else if (Model.CurrentCard == 7)
        {
            <div class="cardcaption">&#x25c0; Pranav Antal &#x25b6;</div>
        }
        else if (Model.CurrentCard == 8)
        {
            <div class="cardcaption">&#x25c0; Yuri Grom &#x25b6;</div>
        }
        else if (Model.CurrentCard == 9)
        {
            <div class="cardcaption">&#x25c0; Zachary Hudson &#x25b6;</div>
        }
        else if (Model.CurrentCard == 10)
        {
            <div class="cardcaption">&#x25c0; Zemina Torval &#x25b6;</div>
        }
    }
    else if (Model.CurrentTab == LcdTab.Mining)
    {
        if (Model.CurrentCard == 0)
        {
            <div class="cardcaption">&#x25c0; Painite Hotspots &#x25b6;</div>
        }
        else if (Model.CurrentCard == 1)
        {
            <div class="cardcaption">&#x25c0; Painite Prices &#x25b6;</div>
        }
        else if (Model.CurrentCard == 2)
        {
            <div class="cardcaption">&#x25c0; LTD Hotspots &#x25b6;</div>
        }
        else if (Model.CurrentCard == 3)
        {
            <div class="cardcaption">&#x25c0; LTD Prices &#x25b6;</div>
        }
        else if (Model.CurrentCard == 4)
        {
            <div class="cardcaption">&#x25c0; Platinum Hotspots &#x25b6;</div>
        }
        else if (Model.CurrentCard == 5)
        {
            <div class="cardcaption">&#x25c0; Platinum Prices &#x25b6;</div>
        }
        else if (Model.CurrentCard == 6)
        {
            <div class="cardcaption">&#x25c0; Tritium Prices [BUY] &#x25b6;</div>
        }
        else if (Model.CurrentCard == 7)
        {
            <div class="cardcaption">&#x25c0; Tritium Prices [SELL] &#x25b6;</div>
        }

    }

</div>