@{
    Layout = "layout.cshtml";
}

<div class="main" style="margin-top:@Model.GalaxyImageMarginTop">
    <div class="imgcenter"><img src="@Model.GalaxyImageFileName" width="@Model.GalaxyImageDisplayWidth" height="@Model.GalaxyImageDisplayHeight" /></div>
</div>