<div class="menu">
    
    <table>
        <tbody>
            <tr>
                <td><div class="@(Model.CurrentTab == 1 ? "highlight" : "")">CMDR</div></td>
            </tr>
            <tr>
                <td><div class="@(Model.CurrentTab == 2 ? "highlight" : "")">SHIP</div></td>
            </tr>
            <tr>
                <td><div class="@(Model.CurrentTab == 3 ? "highlight" : "")">NAV</div></td>
            </tr>
            <tr>
                <td><div>&nbsp;</div></td>
            </tr>
            <tr>
                <td><div>&nbsp;</div></td>
            </tr>
        <tr>
                <td><div class="@(Model.CurrentTab == 6 ? "highlight" : "")">EVENTS</div></td>
            </tr>
            <tr>
                <td><div>&nbsp;</div></td>
            </tr>
        </tbody>
    </table>
</div>
