.divider {
    font-size: 2px;
    border-bottom: 1px solid #FFB000;
}

.caption {
    color: #FFFFFF;
}

.data {
     color: #FFB000;
 }

.right {
    text-align: right;
}

div.main {
    font-family: 'Arial Unicode MS';
    font-size: 15px;
    color: white;
    white-space: nowrap;
}

div.menu {
    font-family: 'Arial Unicode MS';
    font-size: 15px;
    color: white;
}

.menu table {
    border-right: 1px solid #FFB000;
    border-spacing: 0px;
    text-align: center;
}

.menu table td {
    height: 43px;
    vertical-align: top;
    padding-top: 1px;
}

.menu table td div {
    padding-right: 5px;
    width: 100%;
    text-align: center;
}

.menu table td div.highlight {
    color: black;
    background-color: #FFB000;
}


.main table {
    border-spacing: 5px;
}


