<?xml version="1.0" encoding="utf-8" ?>
<joystickSettings>
  <add key="PID" value="0127" />
  <add key="VID" value="231D" />
  <add key="UpButton" value="21" />
  <add key="DownButton" value="23" />
  <add key="LeftButton" value="24" />
  <add key="RightButton" value="22" />
  <add key="PushButton" value="25" />
  <add key="NavigationButton" value="0" />
  <add key="TargetButton" value="0" />
  <add key="CommanderButton" value="0" />
  <add key="GalnetButton" value="0" />
  <add key="MissionsButton" value="0" />
  <add key="ChatButton" value="0" />
  <add key="HWInfoButton" value="0" />
  <add key="ShipButton" value="0" />
  <add key="MaterialsButton" value="0" />
  <add key="CargoButton" value="0" />
  <add key="EngineerButton" value="0" />
  <add key="ShipLockerButton" value="0" />
  <add key="BackPackButton" value="0" />
  <add key="POIButton" value="0" />
  <add key="GalaxyButton" value="0" />
  <add key="EngineersButton" value="0" />
  <add key="PowersButton" value="0" />
  <add key="MiningButton" value="0" />
  <add key="FipSerialNumber" value="window" />
  <add key="WindowWidth" value="400" />
  <add key="WindowHeight" value="500" />
</joystickSettings>