<?xml version="1.0" encoding="utf-8" ?>
<panelSettings>
  <add key="AutoActivateTarget" value="MZE09FE2BC" />
  <add key="AutoActivateNavigation" value="MZAAFAA883" />

  <add key="FastScrollClickDelay" value="250" />
  <add key="FastScrollClickCount" value="4" />
  <add key="ScrollIncrement" value="50" />
  <add key="FastScrollIncrement" value="200" />

</panelSettings>